#top{
    -fx-background-color:
            linear-gradient(#262626 0%, #343534 20%, #6b6a6b 60%, #8a8a8a 100%);
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
    -fx-pref-width: 450;
}

#bottom{
    -fx-background-color:
            linear-gradient(#8a8a8a 0%, #6b6a6b 40%, #343534 80%, #262626 100%);
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
    -fx-pref-width: 450;
}

#left, #right {
    -fx-background-color: #8a8a8a;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Helvetica";
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
    -fx-pref-width: 450;
}
